.hidden,
.visible {
	border: 2px solid black;
	display: flex;
	visibility: visible;
	width: 250px;
	left: 0%;
	top: 25px;
	position: fixed;
	height: 90%;
}

.hidden {
	animation-name: fadeOutOpacity;
	animation-duration: 0.5s;
}

.hidden-did-fade-out {
	display: none;
}

.visible {
	animation-name: fadeInOpacity;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		left: -250px;
	}

	100% {
		left: 0;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
		left: 0;
	}
	100% {
		left: -250px;
	}
}
