.hidden,
.visible {
	border: 2px solid black;
	display: flex;
	visibility: visible;
}

.hidden {
	animation-name: fadeOutOpacity;
	animation-duration: 0.15s;
	opacity: 0;
}

.hidden-did-fade-out {
	display: none;
}

.visible {
	animation-name: fadeInOpacity;
	animation-duration: 0.15s;
	opacity: 1;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		scale: 0.8;
	}
	100% {
		opacity: 1;
		scale: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
		scale: 1;
	}
	100% {
		opacity: 0;
		scale: 0.8;
	}
}
